[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
setuptools = "*"
# vmbpy = {path = "/opt/VimbaX_2023-4/api/python/vmbpy-1.0.4-py3-none-any.whl"}
oicp-hardware = {file = "oicp_hardware", editable = true}
oicp-server = {file = "oicp_server", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
